In [2]:
import warnings
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# follows django database settings format, replace with your own settings
DATABASES = {
    'datafinal':{
        'POSTGRES_DBNAME': 'postgres',
        'POSTGRES_USERNAME': 'postgres',
        'POSTGRES_PASSWORD': '',
        'POSTGRES_ADDRESS': 'datafinal.c50h51d04cbn.us-east-2.rds.amazonaws.com',
        'POSTGRES_PORT': 5432,
    },
}

# choose the database to use
db = DATABASES['datafinal']

# construct an engine connection string
engine_string =  ('postgresql+psycopg2://{username}:{password}@{ipaddress}:{port}/{dbname}'
               .format(username= db['POSTGRES_USERNAME'],
                      password= db['POSTGRES_PASSWORD'],
                      ipaddress= db['POSTGRES_ADDRESS'],
                      port= db['POSTGRES_PORT'],
                      dbname= db['POSTGRES_DBNAME'])
               )

# create sqlalchemy engine
engine = create_engine(engine_string)

# read a table from database into pandas dataframe, replace "tablename" with your table name
df = pd.read_sql_table('mergedtable', engine)
df.head()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

   Gender           Customer  ...  Arrival_Delay_in_Minutes             satisfaction
0  Female     Loyal Customer  ...                      44.0                satisfied
1  Female     Loyal Customer  ...                       0.0                satisfied
2    Male  disloyal Customer  ...                       0.0  neutral or dissatisfied
3    Male     Loyal Customer  ...                       6.0                satisfied
4  Female     Loyal Customer  ...                      20.0                satisfied

[5 rows x 23 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492055 entries, 0 to 492054
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             492055 non-null  object
 1   Customer                           492055 non-null  object
 2   Age                                492055 non-null  float64
 3   Type_of_Travel                     492055 non-null  object
 4   Class                              492055 non-null  object
 5   Flight Distance                    492055 non-null  float64
 6   Inflight wifi                      492055 non-null  float64
 7   Departure/Arrival_time_convenient  492055 non-null  float64
 8   Ease_of_Online booking             492055 non-null  float64
 9   Gate_location                      492055 non-null  float64
 10  Food_and_drink                     492055 non-null  float64
 11  Online boarding                    492055 non-null  float64
 12  Seat comfort                       492055 non-null  float64
 13  Inflight entertainment             492055 non-null  float64
 14  On-board service                   492055 non-null  float64
 15  Leg room service                   492055 non-null  float64
 16  Baggage handling                   492055 non-null  float64
 17  Checkin service                    492055 non-null  float64
 18  Inflight service                   492055 non-null  float64
 19  Cleanliness                        492055 non-null  float64
 20  Departure_Delay_in_Minutes         492055 non-null  float64
 21  Arrival_Delay_in_Minutes           492055 non-null  float64
 22  satisfaction                       492055 non-null  object
dtypes: float64(18), object(5)
memory usage: 86.3+ MB

In [4]:
df.isnull().sum()

Gender                               0
Customer                             0
Age                                  0
Type_of_Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi                        0
Departure/Arrival_time_convenient    0
Ease_of_Online booking               0
Gate_location                        0
Food_and_drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure_Delay_in_Minutes           0
Arrival_Delay_in_Minutes             0
satisfaction                         0
dtype: int64

In [7]:
df.dtypes

Gender                                object
Customer                              object
Age                                  float64
Type_of_Travel                        object
Class                                 object
Flight Distance                      float64
Inflight wifi                        float64
Departure/Arrival_time_convenient    float64
Ease_of_Online booking               float64
Gate_location                        float64
Food_and_drink                       float64
Online boarding                      float64
Seat comfort                         float64
Inflight entertainment               float64
On-board service                     float64
Leg room service                     float64
Baggage handling                     float64
Checkin service                      float64
Inflight service                     float64
Cleanliness                          float64
Departure_Delay_in_Minutes           float64
Arrival_Delay_in_Minutes             float64
satisfaction                          object
dtype: object

In [8]:
df.columns

Index(['Gender', 'Customer', 'Age', 'Type_of_Travel', 'Class',
       'Flight Distance', 'Inflight wifi', 'Departure/Arrival_time_convenient',
       'Ease_of_Online booking', 'Gate_location', 'Food_and_drink',
       'Online boarding', 'Seat comfort', 'Inflight entertainment',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Inflight service', 'Cleanliness',
       'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes',
       'satisfaction'],
      dtype='object')

In [6]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

In [ ]:
df["Age"]

In [19]:
# X = df[['Gender', 'Customer', 'Age', 'Type_of_Travel', 'Class',
#        'Flight Distance', 'Inflight wifi', 'Departure/Arrival_time_convenient',
#        'Ease_of_Online booking', 'Gate_location', 'Food_and_drink',
#        'Online boarding', 'Seat comfort', 'Inflight entertainment',
#        'On-board service', 'Leg room service', 'Baggage handling',
#        'Checkin service', 'Inflight service', 'Cleanliness',
#        'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes']]
X1 = df[[ 'Age', 
       'Flight Distance', 'Inflight wifi', 'Departure/Arrival_time_convenient',
       'Ease_of_Online booking', 'Gate_location', 'Food_and_drink',
       'Online boarding', 'Seat comfort', 'Inflight entertainment',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Inflight service', 'Cleanliness',
       'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes']]
X2 = df[[ 'Gender', 'Customer', 'Type_of_Travel', 'Class']]
y = df[['satisfaction']]

In [23]:
o = StandardScaler()
X1_encoded = o.fit_transform(X1)

s = OrdinalEncoder()
X2_encoded = s.fit_transform(X2)
X_encoded = pd.merge(pd.DataFrame(X1_encoded, columns=X1.columns), pd.DataFrame(X2_encoded, columns=X2.columns), left_index=True, right_index=True)
X_encoded.head()

        Age  Flight Distance  Inflight wifi  ...  Customer  Type_of_Travel  Class
0  0.832290        -1.032604       1.709030  ...       0.0             0.0    1.0
1 -0.226148         1.677166      -1.300884  ...       0.0             0.0    0.0
2 -1.284587        -1.000524      -0.548405  ...       1.0             0.0    1.0
3  0.303071         2.192454      -2.053362  ...       0.0             0.0    0.0
4  0.633833        -0.008044      -0.548405  ...       0.0             0.0    1.0

[5 rows x 22 columns]

In [24]:
l = LabelEncoder()
y_encoded = l.fit_transform(y)

In [18]:
ct = make_column_transformer(
    (StandardScaler(), make_column_selector(dtype_include=np.float64)),
    (OrdinalEncoder(), make_column_selector(dtype_include=object))
)
ct.fit_transform(X)

ValueError: ignored

In [ ]:
# label encoder's fit_transform() method is used to first train the label encoder

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['Gender'] = le.fit_transform(df2['Gender'])
df2['Customer'] = le.fit_transform(df2['Customer'])
df2['Type_of_Travel'] = le.fit_transform(df2['Type_of_Travel'])
df2['Class'] = le.fit_transform(df2['Class' ])
df2['satisfaction'] = le.fit_transform(df2[ 'satisfaction'])
df2.head(10)