In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("brain_categorical.csv")
df.head()

  gender    age  size  weight
0   Male  20-46  4512    1530
1   Male  20-46  3738    1297
2   Male  20-46  4261    1335
3   Male  20-46  3777    1282
4   Male  20-46  4177    1590

In [ ]:
pd.get_dummies(df)

     size  weight  gender_Female  gender_Male  age_20-46  age_46+
0    4512    1530              0            1          1        0
1    3738    1297              0            1          1        0
2    4261    1335              0            1          1        0
3    3777    1282              0            1          1        0
4    4177    1590              0            1          1        0
..    ...     ...            ...          ...        ...      ...
232  3214    1110              1            0          0        1
233  3394    1215              1            0          0        1
234  3233    1104              1            0          0        1
235  3352    1170              1            0          0        1
236  3391    1120              1            0          0        1

[237 rows x 6 columns]

In [ ]:
X = df[["gender", "age", "size"]]
y = df["weight"].values.reshape(-1, 1)
print(X.shape, y.shape)

(237, 3) (237, 1)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector

In [ ]:
# help(make_column_selector)

In [ ]:
ct = make_column_transformer(
    (StandardScaler(), make_column_selector(dtype_include=np.number)),
    (OneHotEncoder(), make_column_selector(dtype_include=object))
)
ct.fit_transform(X)

array([[ 2.40886829,  0.        ,  1.        ,  1.        ,  0.        ],
       [ 0.28535333,  0.        ,  1.        ,  1.        ,  0.        ],
       [ 1.72023489,  0.        ,  1.        ,  1.        ,  0.        ],
       ...,
       [-1.10014416,  1.        ,  0.        ,  0.        ,  1.        ],
       [-0.77366059,  1.        ,  0.        ,  0.        ,  1.        ],
       [-0.66666178,  1.        ,  0.        ,  0.        ,  1.        ]])

In [ ]:
# help(LabelEncoder)

In [ ]:
pipeline = make_pipeline(ct, LinearRegression())

In [ ]:
pipeline.fit(X, y)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('standardscaler',
                                                  StandardScaler(copy=True,
                                                                 with_mean=True,
                                                                 with_std=True),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fd55b90e860>),
                                                 ('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fd55b90e8d0>)],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [ ]:
pd.DataFrame({
    "true": y.reshape(-1,),
    "pred": pipeline.predict(X).reshape(-1,)
}).head()

   true         pred
0  1530  1519.934524
1  1297  1330.914630
2  1335  1458.637375
3  1282  1340.438888
4  1590  1438.123588

In [ ]:
pipeline.predict(X).shape

(237, 1)

In [ ]:
from joblib import dump, load
dump(pipeline, "my_pipeline.pkl")

['my_pipeline.pkl']

In [ ]:
ybe

In [ ]:
some_totally_random_model = load("my_pipeline.pkl")
some_totally_random_model

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('standardscaler',
                                                  StandardScaler(copy=True,
                                                                 with_mean=True,
                                                                 with_std=True),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fd55b88b320>),
                                                 ('onehotencoder',
                                                  OneHotEncoder(categories='auto',
                                                                drop=None,
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=True),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7fd55b88b5c0>)],
                                   verbose=False)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [ ]:
pd.DataFrame({
    "true": y.reshape(-1,),
    "pred": some_totally_random_model.predict(X).reshape(-1,)
}).head()

   true         pred
0  1530  1519.934524
1  1297  1330.914630
2  1335  1458.637375
3  1282  1340.438888
4  1590  1438.123588