In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# follows django database settings format, replace with your own settings
DATABASES = {
    'datafinal':{
        'POSTGRES_DBNAME': 'postgres',
        'POSTGRES_USERNAME': 'postgres',
        'POSTGRES_PASSWORD': 'rootroot',
        'POSTGRES_ADDRESS': 'datafinal.c50h51d04cbn.us-east-2.rds.amazonaws.com',
        'POSTGRES_PORT': 5432,
    },
}

# choose the database to use
db = DATABASES['datafinal']

# construct an engine connection string
engine_string =  ('postgresql+psycopg2://{username}:{password}@{ipaddress}:{port}/{dbname}'
               .format(username= db['POSTGRES_USERNAME'],
                      password= db['POSTGRES_PASSWORD'],
                      ipaddress= db['POSTGRES_ADDRESS'],
                      port= db['POSTGRES_PORT'],
                      dbname= db['POSTGRES_DBNAME'])
               )

# create sqlalchemy engine
engine = create_engine(engine_string)

# read a table from database into pandas dataframe, replace "tablename" with your table name
new_train = pd.read_sql_table('train', engine)
new_train.head()

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# follows django database settings format, replace with your own settings
DATABASES = {
    'datafinal':{
        'POSTGRES_DBNAME': 'postgres',
        'POSTGRES_USERNAME': 'postgres',
        'POSTGRES_PASSWORD': 'rootroot',
        'POSTGRES_ADDRESS': 'datafinal.c50h51d04cbn.us-east-2.rds.amazonaws.com',
        'POSTGRES_PORT': 5432,
    },
}

# choose the database to use
db = DATABASES['datafinal']

# construct an engine connection string
engine_string =  ('postgresql+psycopg2://{username}:{password}@{ipaddress}:{port}/{dbname}'
               .format(username= db['POSTGRES_USERNAME'],
                      password= db['POSTGRES_PASSWORD'],
                      ipaddress= db['POSTGRES_ADDRESS'],
                      port= db['POSTGRES_PORT'],
                      dbname= db['POSTGRES_DBNAME'])
               )

# create sqlalchemy engine
engine = create_engine(engine_string)

# read a table from database into pandas dataframe, replace "tablename" with your table name
new_test = pd.read_sql_table('test', engine)
new_test.head()

   Gender           Customer  ...  Arrival_Delay_in_Minutes             satisfaction
0  Female     Loyal Customer  ...                      44.0                satisfied
1  Female     Loyal Customer  ...                       0.0                satisfied
2    Male  disloyal Customer  ...                       0.0  neutral or dissatisfied
3    Male     Loyal Customer  ...                       6.0                satisfied
4  Female     Loyal Customer  ...                      20.0                satisfied

[5 rows x 23 columns]

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
 
from pathlib import Path
from collections import Counter

In [ ]:
# Create features for new train
nw_tr = new_train.drop(columns="satisfaction", axis=1)
nw_tr = pd.get_dummies(nw_tr)

# Create target
y = new_train["satisfaction"]

nw_tr

         Age  Flight Distance  ...  Class_Eco  Class_Eco Plus
0       60.0            912.0  ...          0               0
1       38.0            208.0  ...          0               0
2       31.0           3147.0  ...          0               0
3       53.0           2327.0  ...          0               0
4       30.0            650.0  ...          1               0
...      ...              ...  ...        ...             ...
828747  39.0           3483.0  ...          0               0
828748  42.0           3636.0  ...          0               0
828749  64.0            376.0  ...          1               0
828750  57.0            192.0  ...          1               0
828751  69.0           2917.0  ...          1               0

[828752 rows x 27 columns]

In [ ]:
# Create features for new test
nw_ts = new_test.drop(columns="satisfaction", axis=1)
nw_ts = pd.get_dummies(nw_ts)

# Create target
z = new_test["satisfaction"]

nw_ts

         Age  Flight Distance  ...  Class_Eco  Class_Eco Plus
0       52.0            160.0  ...          1               0
1       36.0           2863.0  ...          0               0
2       20.0            192.0  ...          1               0
3       44.0           3377.0  ...          0               0
4       49.0           1182.0  ...          1               0
...      ...              ...  ...        ...             ...
155353  34.0            526.0  ...          0               0
155354  23.0            646.0  ...          0               0
155355  17.0            828.0  ...          1               0
155356  14.0           1127.0  ...          0               0
155357  42.0            264.0  ...          1               0

[155358 rows x 27 columns]

In [ ]:
y.describe()

count                      828752
unique                          2
top       neutral or dissatisfied
freq                       469576
Name: satisfaction, dtype: object

In [ ]:
z.describe()

count                      155358
unique                          2
top       neutral or dissatisfied
freq                        87168
Name: satisfaction, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Encode text labels into numerical values
le = LabelEncoder()
y_encoded = le.fit_transform(y)
z_encoded = le.fit_transform(z)

In [ ]:
# Check the balance of target values
#y_encoded.value_counts()
print(y_encoded)
print(z_encoded)

[0 0 1 ... 0 1 0]
[1 1 0 ... 0 1 0]

In [ ]:
le.classes_

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [ ]:
print(type(y_encoded))

<class 'numpy.ndarray'>

In [ ]:
pd.Series(y_encoded).value_counts()

0    352182
1    269382
dtype: int64

In [ ]:
nw_ts.count()

Age                                  129465
Flight Distance                      129465
Inflight wifi                        129465
Departure/Arrival_time_convenient    129465
Ease_of_Online booking               129465
Gate_location                        129465
Food_and_drink                       129465
Online boarding                      129465
Seat comfort                         129465
Inflight entertainment               129465
On-board service                     129465
Leg room service                     129465
Baggage handling                     129465
Checkin service                      129465
Inflight service                     129465
Cleanliness                          129465
Departure_Delay_in_Minutes           129465
Arrival_Delay_in_Minutes             129465
Gender_Female                        129465
Gender_Male                          129465
Customer_Loyal Customer              129465
Customer_disloyal Customer           129465
Type_of_Travel_Business travel       129465
Type_of_Travel_Personal Travel       129465
Class_Business                       129465
Class_Eco                            129465
Class_Eco Plus                       129465
dtype: int64

In [ ]:
nw_ts.dtypes

Age                                  float64
Flight Distance                      float64
Inflight wifi                        float64
Departure/Arrival_time_convenient    float64
Ease_of_Online booking               float64
Gate_location                        float64
Food_and_drink                       float64
Online boarding                      float64
Seat comfort                         float64
Inflight entertainment               float64
On-board service                     float64
Leg room service                     float64
Baggage handling                     float64
Checkin service                      float64
Inflight service                     float64
Cleanliness                          float64
Departure_Delay_in_Minutes           float64
Arrival_Delay_in_Minutes             float64
Gender_Female                          uint8
Gender_Male                            uint8
Customer_Loyal Customer                uint8
Customer_disloyal Customer             uint8
Type_of_Travel_Business travel         uint8
Type_of_Travel_Personal Travel         uint8
Class_Business                         uint8
Class_Eco                              uint8
Class_Eco Plus                         uint8
dtype: object

In [ ]:
nw_tr.count()

Age                                  621564
Flight Distance                      621564
Inflight wifi                        621564
Departure/Arrival_time_convenient    621564
Ease_of_Online booking               621564
Gate_location                        621564
Food_and_drink                       621564
Online boarding                      621564
Seat comfort                         621564
Inflight entertainment               621564
On-board service                     621564
Leg room service                     621564
Baggage handling                     621564
Checkin service                      621564
Inflight service                     621564
Cleanliness                          621564
Departure_Delay_in_Minutes           621564
Arrival_Delay_in_Minutes             621564
Gender_Female                        621564
Gender_Male                          621564
Customer_Loyal Customer              621564
Customer_disloyal Customer           621564
Type_of_Travel_Business travel       621564
Type_of_Travel_Personal Travel       621564
Class_Business                       621564
Class_Eco                            621564
Class_Eco Plus                       621564
dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
new_train['Gender'] = new_train['Gender'].replace([0,1],['Female','Male'],inplace=True)

In [ ]:
# Train the data
classifier.fit(nw_tr, y_encoded)
classifier.fit(nw_ts, z_encoded)
#print(y_encoded)
#new_train.dtypes

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Predict outcomes for train data set
predictions_train = classifier.predict(nw_tr)
pd.DataFrame({"Prediction": predictions_train, "Actual": y_encoded})
#print(len(y_encoded))
#print(len(predictions))

        Prediction  Actual
0                0       0
1                1       0
2                1       1
3                1       0
4                0       0
...            ...     ...
621559           1       1
621560           0       1
621561           0       0
621562           1       1
621563           0       0

[621564 rows x 2 columns]

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_encoded, predictions_train)

0.8094677297913007

In [ ]:
# Predict outcomes for train data set
predictions = classifier.predict(nw_ts)
df = pd.DataFrame({"Prediction": predictions, "Actual": z_encoded})
df

        Prediction  Actual
0                1       1
1                1       1
2                0       0
3                1       1
4                0       1
...            ...     ...
129460           1       0
129461           1       1
129462           0       0
129463           1       1
129464           0       0

[129465 rows x 2 columns]

In [ ]:
df["Actual"].value_counts()

0    72640
1    56825
Name: Actual, dtype: int64

In [ ]:
classification_report

In [ ]:
# Accuracy score for test dataset
from sklearn.metrics import accuracy_score
accuracy_score(z_encoded, predictions)

0.812613447649944

In [ ]:
# Display the confusion matrix for test dataset
from sklearn.metrics import confusion_matrix
confusion_matrix(z_encoded, predictions)

array([[57915, 14725],
       [ 9535, 47290]])

In [ ]:
# Display the confusion matrix train dataset
from sklearn.metrics import confusion_matrix
confusion_matrix(y_encoded, predictions_train)

array([[280212,  71970],
       [ 46458, 222924]])

In [ ]:
from sklearn.metrics import classification_report
help(classification_report)

Help on function classification_report in module sklearn.metrics._classification:

classification_report(y_true, y_pred, labels=None, target_names=None, sample_weight=None, digits=2, output_dict=False, zero_division='warn')
    Build a text report showing the main classification metrics

    Read more in the :ref:`User Guide <classification_report>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : array, shape = [n_labels]
        Optional list of label indices to include in the report.

    target_names : list of strings
        Optional display names matching the labels (same order).

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    digits : int
        Number of digits for formatting output floating point values.
        When ``output_dict`` is ``True``, this will be ignored and the
        returned values will not be rounded.

    output_dict : bool (default = False)
        If True, return output as dict

    zero_division : "warn", 0 or 1, default="warn"
        Sets the value to return when there is a zero division. If set to
        "warn", this acts as 0, but warnings are also raised.

    Returns
    -------
    report : string / dict
        Text summary of the precision, recall, F1 score for each class.
        Dictionary returned if output_dict is True. Dictionary has the
        following structure::

            {'label 1': {'precision':0.5,
                         'recall':1.0,
                         'f1-score':0.67,
                         'support':1},
             'label 2': { ... },
              ...
            }

        The reported averages include macro average (averaging the unweighted
        mean per label), weighted average (averaging the support-weighted mean
        per label), and sample average (only for multilabel classification).
        Micro average (averaging the total true positives, false negatives and
        false positives) is only shown for multi-label or multi-class
        with a subset of classes, because it corresponds to accuracy otherwise.
        See also :func:`precision_recall_fscore_support` for more details
        on averages.

        Note that in binary classification, recall of the positive class
        is also known as "sensitivity"; recall of the negative class is
        "specificity".

    See also
    --------
    precision_recall_fscore_support, confusion_matrix,
    multilabel_confusion_matrix

    Examples
    --------
    >>> from sklearn.metrics import classification_report
    >>> y_true = [0, 1, 2, 2, 2]
    >>> y_pred = [0, 0, 2, 2, 1]
    >>> target_names = ['class 0', 'class 1', 'class 2']
    >>> print(classification_report(y_true, y_pred, target_names=target_names))
                  precision    recall  f1-score   support
    <BLANKLINE>
         class 0       0.50      1.00      0.67         1
         class 1       0.00      0.00      0.00         1
         class 2       1.00      0.67      0.80         3
    <BLANKLINE>
        accuracy                           0.60         5
       macro avg       0.50      0.56      0.49         5
    weighted avg       0.70      0.60      0.61         5
    <BLANKLINE>
    >>> y_pred = [1, 1, 0]
    >>> y_true = [1, 1, 1]
    >>> print(classification_report(y_true, y_pred, labels=[1, 2, 3]))
                  precision    recall  f1-score   support
    <BLANKLINE>
               1       1.00      0.67      0.80         3
               2       0.00      0.00      0.00         0
               3       0.00      0.00      0.00         0
    <BLANKLINE>
       micro avg       1.00      0.67      0.80         3
       macro avg       0.33      0.22      0.27         3
    weighted avg       1.00      0.67      0.80         3
    <BLANKLINE>

In [ ]:
len(y_encoded)

621564

In [ ]:
len(predictions)

129465